<!-- Header content -->
<div class="container-fluid"> <!-- opening site container div -->
	<div class="row"> <!-- header top row start -->
		<header>
			<div class="container"> 
					
			</div>
			<div class="col-md-4 col-lg-4"> <!-- navbar column wrapper start -->
				<nav class="navbar navbar-default navbar-static-top"> <!-- navbar start -->
			        <button type="button" class="navbar-toggle btn--mob-menu" data-toggle="collapse" data-target="#picpicNavbar">
			           <span class="icon-bar"></span>
			           <span class="icon-bar"></span>
			           <span class="icon-bar"></span>                        
			        </button>
			        <div class="collapse navbar-collapse" id="picpicNavbar">
  						<ul class="nav navbar-nav navbar--width-full">
	    					<li class="active navbar--item">
	    					<a href="index.html">PicPick</a></li>
	    					<li class="navbar--item"><a class="" href="partner.html">Partners</a></li>
	    					<li class="navbar--item"><a class="" href="contact_us.html">Contact</a></li>
  						</ul>
  					</div>
				</nav> <!-- navbar end -->
			</div> <!-- navbar column end -->
        </header>
    </div> <!-- end row  -->
 
