<!DOCTYPE html>
<html>
    <head>
        <!-- fontawesome CDN -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
      <!-- header include -->
      <% include ../resources/partials/header.ejs %>

      <main>

      </main>

    <!-- footer include -->
    <% include ../resources/partials/_footer.ejs %>

  </body>
</html>
