<footer class="footer">
  <div class="container-fluid ">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="row">
          <img class="col" src="../../../../src/assets/images/logo.png">
          <span class="col-xs-1">
            <p class="text-uppercase">Satoshi</p>
          </span>
        </div> <!-- logo row -->

        <div class="col-xs social">
          <span><i class="fab fa-telegram-plane"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-bitcoin"></i></span>
        </div> <!-- social -->
      </div> <!-- row -->
    </div> <!-- branding -->
  </div> <!-- container fluid -->
</footer>
