<!-- Client Header content -->
<header class="header">
  <div class="container-fluid hero">
    <div class="container branding"> 
      <div class="row align-items-center justify-content-between"> 
        <div class="col-xs logo">
          <img src="http://satoshi.team/images/group%202.png?crc=323317857">
          <div class="slogan">
            
          </div>
        </div> <!-- logo -->
        <div class="col-xs social">
          <span><i class="fab fa-telegram-plane"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-bitcoin"></i></span>
        </div> <!-- social -->
      </div> <!-- row -->
    </div> <!-- branding -->
    
      <div class="mobile-img">
        <img src="http://satoshi.team/images/anonym.png?crc=3778219195">
      </div> <!-- mobile-img -->
      
      <div class="hero-text"> 
        <h1 class="font"> Satoshi </h1>
        <h2 class="font">ERC20 Token</h2>
        <p class="font">We create the first, truly anonymous token! Transfer of the token from the owner to the owner without transactions!</p>
     </div>
  </div> <!-- container fluid -->
</header>
 
