<header class="header">
  <div class="container-fluid hero">
    <div class="container branding">
      <div class="row align-items-center justify-content-between">
        <div class="logo row">
          <img class="col" src="../../../../src/assets/images/logo.png">
          <span class="col-xs-1">
            <p>Anonymity <br> & Justice!</p>
          </span>
        </div> <!-- logo row -->

        <div class="col-xs-1 social">
          <span><i class="fab fa-telegram-plane"></i></span>
          <span><i class="fab fa-twitter"></i></span>
          <span><i class="fab fa-bitcoin"></i></span>
        </div> <!-- .col-xs-1 social -->
      </div> <!-- .row align-items-center justify-content-between -->
    </div> <!-- branding -->

    <div class="hero-content container">
      <div class="mobile-img">
        <img src="../../../../src/assets/images/anonHeader.png">
      </div> <!-- mobile-img -->

      <div class="hero-text text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <h1> Satoshi </h1>
              <h2>ERC20 Token</h2>
              <p class="w-50 d-inline-block">We create the first, truly anonymous token! Transfer of the token from the owner to the owner without transactions!</p>
            </div> <!-- .col-xs-12 col-md-12 col-lg-12 -->
          </div> <!-- .row -->

          <div class="row">
            <div class="col">
              <div class="btn btn-success btn-lg">
                <a href="https://goo.gl/forms/4ROxXAHar91pfp9k1" class="text-uppercase"> Join Airdrop</a>
              </div> <!-- .btn btn-success btn-lg -->

              <div class="btn btn-success btn-lg">
                <a href="https://etherdelta.com/#0xc01b78e62a4d1fdce58d364193ee1218832919fd-ETH" class="text-uppercase"> Exchange </a>
              </div> <!-- .btn btn-success btn-lg -->
            </div> <!-- .col -->
        </div> <!-- .row -->

     </div> <!-- .container -->
     </div> <!-- .hero-text -->


    </div> <!-- hero-content -->
  </div> <!-- container fluid -->
</header>
