/* ---------------------------colors -------------------------------------- */

/* $row-background-color: #eeeeee; */
$body-background-color: #1B1438; /* satoshi dark blue */
$bg-transparent: rgba(27,20,0,0.1);  /* satoshi transparent */
$button-green: #22B573;
$button-hover: #00afa0;
 
/* ------------------------------------------ block element modifiers --------------------------------*/

$full-width: 100%;
$half-width: 50%;
$one-third: 33.33%;
$quarter-width: 25%;

$full-height: 100%;
$half-height: 50%;
$one-third: 33.33%;
$quarter-height: 25%;

/* -------------------------------- TEXT SIZING -------------------------------*/

$font-lg: 90px; /* Satoshi title size */
$font-md: 36px; /* Satoshi Heading size */
$font-sm: 30px; /* Satoshi sub heading size */
$font-xs: 18px; /* Satoshi p size */